* {
  box-sizing: border-box;
  margin: 0px;
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.heading-underline {
  display: block;
  background: red;
  height: 3px;
  width: 200px;
  position: relative;
  box-sizing: border-box;
  margin: 15px auto;
}
.heading-underline:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  height: 9px;
  width: 9px;
  background: red;
  transform: rotate(-45deg) translatex(-50%);
}
.heading {
  font-size: 30px;
  margin-bottom: 15px;
}
