.category_grid{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category_item{
    background-color: #F5F5F6;
    flex-basis: 48%;
    margin-bottom: 20px;
    padding: 10px;
}
.category_item img{
    width: 100%;
}
.category_caption{
    opacity: 0;
    position: absolute;
}
@media (min-width: 900px) {
  .usp_row {
  }
}