.banner{}
.banner_group{
    display: flex;
}
.banner_image{
    flex: 1;
}
.banner_image img{
    width: 100%;
}
.banner_text{
    flex: 1;
    margin: auto;
    padding-left: 3rem;
}
.slider_nav{
    text-align: center;
    display: flex;
    margin: 0 auto;
}
.slider_nav ul {
    list-style: none;
}
.navdot{
    background-color: cornflowerblue;
}
.slider_active{
    background-color: brown;
}